.aa {
    background-color: #F3950D;
    height: 20vh;
    padding-left: 100px;
    margin: 0 100px;
}
.aa h1{
    color: black;
    padding: 30px;
    text-align: center;
    margin-right: 30vw;
}
.container {
    margin: 0 25vw;
    height: 60vh;
    background-color: #F3950D;

}
.af {
    justify-content: center;
    align-items: center;
    padding: 0 25vw;
    margin: 50px;
}
.cover {
    background-color: #0F2C67 ;
}
