.colom {
    margin: 40px 100px;
    background-color: #F3950D;
    padding: 50px 150px;
}
.container {
    background-color:  #0F2C67;
    padding: 20px 30px;
    height: 10vh;
}
.container h1{
    color: aliceblue;
}
.full {
    background-color: #0F2C67;
}